stages:
 - build

build:
  stage: build
  image: amazoncorretto:17-alpine
  services:
    - name: docker:dind
      alias: docker
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker info
  script:
    - ./gradlew test --tests="com.component.orders.contract.ContractTestsUsingTestContainer"
