stages:
 - build

build:
  stage: build
  image: amazoncorretto:17-alpine
  services:
    - name: docker:dind
      alias: docker
      # explicitly disable tls to avoid docker startup interruption
      command: ["--tls=false"]
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
  script:
    - env | grep -i docker
    - apk add -U docker
    - docker info
    - docker run --rm alpine echo foo
    - ./gradlew test --tests="com.component.orders.contract.ContractTestsUsingTestContainer"
