name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  repository_dispatch:
    types: contracts changed
jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java: [17]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with: { fetch-depth: 0 }
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}

    - name: Build BFF project with Gradle
      run: ./gradlew build

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Upload CTRF Report
      uses: actions/upload-artifact@v4
      if: always() # Run even if tests fail
      with:
        name: ctrf-report
        path: build/reports/specmatic/ctrf/*.json
        retention-days: 5
    
    # Display CTRF test results
    - name: Publish Test Results
      uses: ctrf-io/github-test-reporter@v1
      if: always() # Run even if tests fail
      with:
        report-path: './build/reports/specmatic/ctrf/*.json'

    - name: Run coverage report
      run: ./gradlew jacocoTestReport

    - name: Generate JaCoCo Badge
      id: jacoco
      uses: cicirello/jacoco-badge-generator@v2
      with:
        generate-branches-badge: true
        jacoco-csv-file: build/reports/jacoco/test/jacocoTestReport.csv

    - name: Log coverage percentage
      run: |
        echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
        echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

    - name: Save Specmatic license
      if: github.ref == 'refs/heads/main'
      run: |
        mkdir -p ~/.specmatic
        echo "${{ secrets.SPECMATIC_LICENSE_KEY }}" > ~/.specmatic/specmatic-license.txt

    - name: Run Specmatic Insights Build Reporter
      if: github.ref == 'refs/heads/main'
      run: |
        docker run \
          -v ${{ github.workspace }}:/workspace \
          -v ${{ github.workspace }}/src/test/resources/specmatic.yaml:/workspace/specmatic.yaml \
          -v ~/.specmatic:/root/.specmatic \
          -w /workspace \
          specmatic/specmatic-reporter \
          send-report \
          --metadata build_url=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} \
          --branch-name ${{ github.ref_name }} \
          --repo-name ${{ github.event.repository.name }} \
          --repo-id ${{ github.repository_id }} \
          --repo-url ${{ github.event.repository.html_url }}

    - name: Upload HTML Test Report
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}-${{ matrix.java }}-html-report
        path: build/reports/specmatic/html

    - name: Upload build/libs for Docker
      uses: actions/upload-artifact@v4
      with:
        name: build-libs
        path: build/libs

  docker:
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download build/libs from build job
        uses: actions/download-artifact@v4
        with:
          name: build-libs
          path: build/libs

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        run: echo ${{ secrets.SPECMATIC_DOCKER_HUB_TOKEN }} | docker login -u ${{ vars.SPECMATIC_DOCKER_HUB_USERNAME }} --password-stdin

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ github.repository }}

      - name: Build and push Docker image (multi-platform)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ github.repository }}:latest
          labels: ${{ steps.meta.outputs.labels }}
